In [1]:
import pandas as pd
import numpy as np

In [2]:
#set variables
MA_length = 20
exit_signal = 0

#read in crude oil futures data and daily risk-free rates data (obtained from WRDS)
crude = pd.read_csv("Crude_Oil.txt",sep="\t")
crude.Date = pd.to_datetime(crude.Date,dayfirst=True)
Rf = pd.read_csv("Rf.csv",header=0,names=['Date','Rf'])
Rf.Date = pd.to_datetime(Rf.Date)

In [3]:
#get relevant dates for risk free rate
Rf = Rf[(Rf.Date > '1989-08-10') & (Rf.Date < '2014-02-18')]
Rf = Rf.reset_index(drop=True)
Rf

           Date            Rf
0    1989-08-11  1.920000e-04
1    1989-08-14  1.930000e-04
2    1989-08-15  1.830000e-04
3    1989-08-16  1.810000e-04
4    1989-08-17  1.730000e-04
...         ...           ...
6121 2014-02-10  1.530000e-06
6122 2014-02-11  1.530000e-06
6123 2014-02-12  6.940000e-07
6124 2014-02-13 -1.390000e-07
6125 2014-02-14  4.170000e-07

[6126 rows x 2 columns]

In [4]:
crude

,Date,RCLC1,RCLC2,RCLC3,RCLC4,RCLC5,RCLC6,RCLC12,LLCC1,LLCC2,LLCC3,LLCC4,LLCC5,LLCC6,LLCC12
0,1989-08-10,18.59,18.29,18.17,18.10,18.01,17.95,17.73,16.97,16.88,16.84,16.50,16.53,16.53,NaN
1,1989-08-11,18.48,18.18,18.05,17.96,17.87,17.81,17.60,16.91,16.81,16.70,16.63,16.63,16.63,NaN
2,1989-08-14,18.58,18.22,18.02,17.90,17.79,17.70,17.48,16.79,16.67,16.55,16.55,16.55,16.55,NaN
3,1989-08-15,18.68,18.29,18.07,17.96,17.84,17.75,17.50,16.87,16.78,16.59,16.55,16.55,16.55,NaN
4,1989-08-16,18.97,18.49,18.25,18.13,18.02,17.92,17.67,16.96,16.83,16.66,16.55,16.60,16.60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6394,2014-02-12,100.37,99.92,99.17,98.37,97.59,96.74,91.97,108.79,108.35,108.03,107.68,107.29,106.87,104.20
6395,2014-02-13,100.35,100.05,99.31,98.54,97.75,96.88,92.05,108.73,108.52,108.19,107.82,107.42,107.00,104.31
6396,2014-02-14,100.30,100.13,99.47,98.73,97.95,97.08,92.19,109.08,108.76,108.39,108.00,107.55,106.98,104.27
6397,2014-02-17,100.30,100.13,99.47,98.73,97.95,97.08,92.19,109.18,108.88,108.54,108.16,107.71,107.15,104.48
6398,2014-02-18,102.43,102.10,101.21,100.30,99.40,98.45,93.11,110.46,110.11,109.71,109.27,108.77,108.15,105.10

In [5]:
#drop columns we won't be using
crude = crude.drop(columns = ["RCLC2","RCLC3","RCLC4","RCLC5","RCLC6","RCLC12","LLCC2","LLCC3","LLCC4","LLCC5","LLCC6","LLCC12"])
crude

           Date   RCLC1   LLCC1
0    1989-08-10   18.59   16.97
1    1989-08-11   18.48   16.91
2    1989-08-14   18.58   16.79
3    1989-08-15   18.68   16.87
4    1989-08-16   18.97   16.96
...         ...     ...     ...
6394 2014-02-12  100.37  108.79
6395 2014-02-13  100.35  108.73
6396 2014-02-14  100.30  109.08
6397 2014-02-17  100.30  109.18
6398 2014-02-18  102.43  110.46

[6399 rows x 3 columns]

In [6]:
#create the column for the spread
crude['Spread'] = crude.RCLC1 - crude.LLCC1
crude

           Date   RCLC1   LLCC1  Spread
0    1989-08-10   18.59   16.97    1.62
1    1989-08-11   18.48   16.91    1.57
2    1989-08-14   18.58   16.79    1.79
3    1989-08-15   18.68   16.87    1.81
4    1989-08-16   18.97   16.96    2.01
...         ...     ...     ...     ...
6394 2014-02-12  100.37  108.79   -8.42
6395 2014-02-13  100.35  108.73   -8.38
6396 2014-02-14  100.30  109.08   -8.78
6397 2014-02-17  100.30  109.18   -8.88
6398 2014-02-18  102.43  110.46   -8.03

[6399 rows x 4 columns]

In [7]:
#create columns for moving average, rolling standard deviation, and z-score for the current price level of the spread
crude['MA'+str(MA_length)] = crude.Spread.rolling(MA_length).mean()
crude['SD'+str(MA_length)] = crude.Spread.rolling(MA_length).std()
crude['Z'+str(MA_length)] = (crude.Spread-crude['MA'+str(MA_length)])/crude['SD'+str(MA_length)]
crude.head(25)

         Date  RCLC1  LLCC1  Spread    MA20      SD20       Z20
0  1989-08-10  18.59  16.97    1.62     NaN       NaN       NaN
1  1989-08-11  18.48  16.91    1.57     NaN       NaN       NaN
2  1989-08-14  18.58  16.79    1.79     NaN       NaN       NaN
3  1989-08-15  18.68  16.87    1.81     NaN       NaN       NaN
4  1989-08-16  18.97  16.96    2.01     NaN       NaN       NaN
5  1989-08-17  18.68  16.89    1.79     NaN       NaN       NaN
6  1989-08-18  18.80  16.85    1.95     NaN       NaN       NaN
7  1989-08-21  19.08  16.83    2.25     NaN       NaN       NaN
8  1989-08-22  19.08  17.01    2.07     NaN       NaN       NaN
9  1989-08-23  18.80  16.95    1.85     NaN       NaN       NaN
10 1989-08-24  18.61  16.96    1.65     NaN       NaN       NaN
11 1989-08-25  18.51  16.85    1.66     NaN       NaN       NaN
12 1989-08-28  18.64  16.85    1.79     NaN       NaN       NaN
13 1989-08-29  18.64  16.99    1.65     NaN       NaN       NaN
14 1989-08-30  18.83  17.00    1.83     NaN       NaN       NaN
15 1989-08-31  18.83  17.24    1.59     NaN       NaN       NaN
16 1989-09-01  18.85  17.20    1.65     NaN       NaN       NaN
17 1989-09-04  18.85  17.36    1.49     NaN       NaN       NaN
18 1989-09-05  19.05  17.42    1.63     NaN       NaN       NaN
19 1989-09-06  19.28  17.74    1.54  1.7595  0.194949 -1.125937
20 1989-09-07  19.41  17.76    1.65  1.7610  0.193932 -0.572367
21 1989-09-08  19.75  17.72    2.03  1.7840  0.197335  1.246612
22 1989-09-11  19.76  17.72    2.04  1.7965  0.205485  1.185003
23 1989-09-12  19.70  17.66    2.04  1.8080  0.212593  1.091287
24 1989-09-13  19.86  17.77    2.09  1.8120  0.217294  1.279370

In [8]:
# create signal column which determines when we are long/short the spread

# determine initial entry points, which is when z-score is above 2 or below -2
crude["Signal"] = [1 if x < -2 else (-1 if x > 2 else 0) for x in crude.Z20]

# fill in signal columns until the point where we receive an exit signal (determined by "exit_signal" variable)
for i in range(1,len(crude.index)):
    if crude.iloc[i-1,7] == -1:
        if crude.iloc[i,6] > -1*exit_signal:
            crude.iloc[i,7] = -1
    elif crude.iloc[i-1,7] == 1:
        if crude.iloc[i,6] < exit_signal:
            crude.iloc[i,7] = 1
            
crude.head(50)

         Date  RCLC1  LLCC1  Spread    MA20      SD20       Z20  Signal
0  1989-08-10  18.59  16.97    1.62     NaN       NaN       NaN       0
1  1989-08-11  18.48  16.91    1.57     NaN       NaN       NaN       0
2  1989-08-14  18.58  16.79    1.79     NaN       NaN       NaN       0
3  1989-08-15  18.68  16.87    1.81     NaN       NaN       NaN       0
4  1989-08-16  18.97  16.96    2.01     NaN       NaN       NaN       0
5  1989-08-17  18.68  16.89    1.79     NaN       NaN       NaN       0
6  1989-08-18  18.80  16.85    1.95     NaN       NaN       NaN       0
7  1989-08-21  19.08  16.83    2.25     NaN       NaN       NaN       0
8  1989-08-22  19.08  17.01    2.07     NaN       NaN       NaN       0
9  1989-08-23  18.80  16.95    1.85     NaN       NaN       NaN       0
10 1989-08-24  18.61  16.96    1.65     NaN       NaN       NaN       0
11 1989-08-25  18.51  16.85    1.66     NaN       NaN       NaN       0
12 1989-08-28  18.64  16.85    1.79     NaN       NaN       NaN       0
13 1989-08-29  18.64  16.99    1.65     NaN       NaN       NaN       0
14 1989-08-30  18.83  17.00    1.83     NaN       NaN       NaN       0
15 1989-08-31  18.83  17.24    1.59     NaN       NaN       NaN       0
16 1989-09-01  18.85  17.20    1.65     NaN       NaN       NaN       0
17 1989-09-04  18.85  17.36    1.49     NaN       NaN       NaN       0
18 1989-09-05  19.05  17.42    1.63     NaN       NaN       NaN       0
19 1989-09-06  19.28  17.74    1.54  1.7595  0.194949 -1.125937       0
20 1989-09-07  19.41  17.76    1.65  1.7610  0.193932 -0.572367       0
21 1989-09-08  19.75  17.72    2.03  1.7840  0.197335  1.246612       0
22 1989-09-11  19.76  17.72    2.04  1.7965  0.205485  1.185003       0
23 1989-09-12  19.70  17.66    2.04  1.8080  0.212593  1.091287       0
24 1989-09-13  19.86  17.77    2.09  1.8120  0.217294  1.279370       0
25 1989-09-14  19.72  17.65    2.07  1.8260  0.224696  1.085910       0
26 1989-09-15  19.96  17.58    2.38  1.8475  0.255629  2.083099      -1
27 1989-09-18  19.88  17.78    2.10  1.8400  0.245185  1.060423      -1
28 1989-09-19  19.56  17.71    1.85  1.8290  0.239185  0.087798      -1
29 1989-09-20  19.64  17.68    1.96  1.8345  0.240952  0.520852      -1
30 1989-09-21  19.64  17.75    1.89  1.8465  0.237227  0.183369      -1
31 1989-09-22  19.28  17.60    1.68  1.8475  0.236440 -0.708425       0
32 1989-09-25  19.46  17.49    1.97  1.8565  0.237559  0.477775       0
33 1989-09-26  19.53  17.50    2.03  1.8755  0.235360  0.656440       0
34 1989-09-27  19.59  17.50    2.09  1.8885  0.239852  0.840100       0
35 1989-09-28  19.86  17.89    1.97  1.9075  0.229803  0.271973       0
36 1989-09-29  20.13  18.16    1.97  1.9235  0.221936  0.209520       0
37 1989-10-02  20.01  18.37    1.64  1.9310  0.208652 -1.394665       0
38 1989-10-03  20.13  18.44    1.69  1.9340  0.204487 -1.193233       0
39 1989-10-04  20.15  18.51    1.64  1.9390  0.195365 -1.530471       0
40 1989-10-05  19.96  18.19    1.77  1.9450  0.187715 -0.932265       0
41 1989-10-06  19.87  18.22    1.65  1.9260  0.197628 -1.396563       0
42 1989-10-09  20.02  18.12    1.90  1.9190  0.195849 -0.097014       0
43 1989-10-10  20.17  18.39    1.78  1.9060  0.196024 -0.642780       0
44 1989-10-11  20.25  18.42    1.83  1.8930  0.191754 -0.328546       0
45 1989-10-12  20.47  18.62    1.85  1.8820  0.187325 -0.170826       0
46 1989-10-13  20.89  18.90    1.99  1.8625  0.149169  0.854737       0
47 1989-10-16  20.59  18.81    1.78  1.8465  0.139181 -0.477796       0
48 1989-10-17  20.75  18.97    1.78  1.8430  0.139966 -0.450109       0
49 1989-10-18  20.56  18.98    1.58  1.8240  0.148763 -1.640189       0

In [9]:
#calculate returns; we will use the average price level of the two contracts as our investment/"employed capital"
crude['Ret'] = crude.Spread.diff().shift(-1)/(crude.RCLC1+crude.LLCC1)/2
crude.Ret = crude.Ret*crude.Signal

In [10]:
crude.head(50)

,Date,RCLC1,LLCC1,Spread,MA20,SD20,Z20,Signal,Ret
0,1989-08-10,18.59,16.97,1.62,NaN,NaN,NaN,0,-0.000000
1,1989-08-11,18.48,16.91,1.57,NaN,NaN,NaN,0,0.000000
2,1989-08-14,18.58,16.79,1.79,NaN,NaN,NaN,0,0.000000
3,1989-08-15,18.68,16.87,1.81,NaN,NaN,NaN,0,0.000000
4,1989-08-16,18.97,16.96,2.01,NaN,NaN,NaN,0,-0.000000
5,1989-08-17,18.68,16.89,1.79,NaN,NaN,NaN,0,0.000000
6,1989-08-18,18.80,16.85,1.95,NaN,NaN,NaN,0,0.000000
7,1989-08-21,19.08,16.83,2.25,NaN,NaN,NaN,0,-0.000000
8,1989-08-22,19.08,17.01,2.07,NaN,NaN,NaN,0,-0.000000
9,1989-08-23,18.80,16.95,1.85,NaN,NaN,NaN,0,-0.000000
10,1989-08-24,18.61,16.96,1.65,NaN,NaN,NaN,0,0.000000
11,1989-08-25,18.51,16.85,1.66,NaN,NaN,NaN,0,0.000000
12,1989-08-28,18.64,16.85,1.79,NaN,NaN,NaN,0,-0.000000
13,1989-08-29,18.64,16.99,1.65,NaN,NaN,NaN,0,0.000000
14,1989-08-30,18.83,17.00,1.83,NaN,NaN,NaN,0,-0.000000
15,1989-08-31,18.83,17.24,1.59,NaN,NaN,NaN,0,0.000000
16,1989-09-01,18.85,17.20,1.65,NaN,NaN,NaN,0,-0.000000
17,1989-09-04,18.85,17.36,1.49,NaN,NaN,NaN,0,0.000000
18,1989-09-05,19.05,17.42,1.63,NaN,NaN,NaN,0,-0.000000
19,1989-09-06,19.28,17.74,1.54,1.7595,0.194949,-1.125937,0,0.000000
20,1989-09-07,19.41,17.76,1.65,1.7610,0.193932,-0.572367,0,0.000000
21,1989-09-08,19.75,17.72,2.03,1.7840,0.197335,1.246612,0,0.000000
22,1989-09-11,19.76,17.72,2.04,1.7965,0.205485,1.185003,0,-0.000000
23,1989-09-12,19.70,17.66,2.04,1.8080,0.212593,1.091287,0,0.000000
24,1989-09-13,19.86,17.77,2.09,1.8120,0.217294,1.279370,0,-0.000000
25,1989-09-14,19.72,17.65,2.07,1.8260,0.224696,1.085910,0,0.000000
26,1989-09-15,19.96,17.58,2.38,1.8475,0.255629,2.083099,-1,0.003729
27,1989-09-18,19.88,17.78,2.10,1.8400,0.245185,1.060423,-1,0.003319
28,1989-09-19,19.56,17.71,1.85,1.8290,0.239185,0.087798,-1,-0.001476
29,1989-09-20,19.64,17.68,1.96,1.8345,0.240952,0.520852,-1,0.000938
30,1989-09-21,19.64,17.75,1.89,1.8465,0.237227,0.183369,-1,0.002808
31,1989-09-22,19.28,17.60,1.68,1.8475,0.236440,-0.708425,0,0.000000
32,1989-09-25,19.46,17.49,1.97,1.8565,0.237559,0.477775,0,0.000000
33,1989-09-26,19.53,17.50,2.03,1.8755,0.235360,0.656440,0,0.000000
34,1989-09-27,19.59,17.50,2.09,1.8885,0.239852,0.840100,0,-0.000000
35,1989-09-28,19.86,17.89,1.97,1.9075,0.229803,0.271973,0,0.000000
36,1989-09-29,20.13,18.16,1.97,1.9235,0.221936,0.209520,0,-0.000000
37,1989-10-02,20.01,18.37,1.64,1.9310,0.208652,-1.394665,0,0.000000
38,1989-10-03,20.13,18.44,1.69,1.9340,0.204487,-1.193233,0,-0.000000
39,1989-10-04,20.15,18.51,1.64,1.9390,0.195365,-1.530471,0,0.000000
40,1989-10-05,19.96,18.19,1.77,1.9450,0.187715,-0.932265,0,-0.000000
41,1989-10-06,19.87,18.22,1.65,1.9260,0.197628,-1.396563,0,0.000000
42,1989-10-09,20.02,18.12,1.90,1.9190,0.195849,-0.097014,0,-0.000000
43,1989-10-10,20.17,18.39,1.78,1.9060,0.196024,-0.642780,0,0.000000
44,1989-10-11,20.25,18.42,1.83,1.8930,0.191754,-0.328546,0,0.000000
45,1989-10-12,20.47,18.62,1.85,1.8820,0.187325,-0.170826,0,0.000000
46,1989-10-13,20.89,18.90,1.99,1.8625,0.149169,0.854737,0,-0.000000
47,1989-10-16,20.59,18.81,1.78,1.8465,0.139181,-0.477796,0,0.000000
48,1989-10-17,20.75,18.97,1.78,1.8430,0.139966,-0.450109,0,-0.000000
49,1989-10-18,20.56,18.98,1.58,1.8240,0.148763,-1.640189,0,0.000000

In [11]:
#get summary statistics for returns
returns = crude.Ret[crude.Ret !=0]
returns = returns.dropna()
stats = returns.describe()
stats

count    2101.000000
mean        0.000821
std         0.004419
min        -0.025578
25%        -0.001047
50%         0.000243
75%         0.001738
max         0.055156
Name: Ret, dtype: float64

In [12]:
#get average daily risk free rate over the period
stats2 = Rf.Rf.describe()
stats2

count    6.126000e+03
mean     8.460137e-05
std      6.088589e-05
min     -2.080000e-07
25%      2.540000e-05
50%      9.230000e-05
75%      1.340000e-04
max      2.240000e-04
Name: Rf, dtype: float64

In [13]:
sharpe = (stats[1]-stats2[1])/stats[2]*np.sqrt(252)
sharpe

2.646751423499015